@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eaeaea;
}

body.dark {
  background-color: #292c35;
}

/* Dark mode btn */
input:checked ~ .dot {
  transform: translateX(100%);
}
